In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

station = pd.read_csv("서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv",encoding='cp949')
display(station)

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202302,1호선,동대문,741,5,10093,1940,8192,5672,11705,...,7802,462,2278,1,197,0,0,0,0,20230303
1,202302,1호선,동묘앞,191,6,2555,823,3137,4382,6186,...,3477,82,1372,0,303,0,0,0,0,20230303
2,202302,1호선,서울역,543,26,7202,7719,11072,45251,35896,...,12995,2267,2824,1,170,0,0,0,0,20230303
3,202302,1호선,시청,112,2,2179,3867,3307,20185,6670,...,3361,296,872,1,6,0,0,0,0,20230303
4,202302,1호선,신설동,341,14,7756,2156,8344,7298,18320,...,7842,345,1824,1,2,0,0,0,0,20230303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57559,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,633,3,222,0,0,0,0,0,0,20151223
57560,201501,중앙선,원덕,1,0,292,4,415,46,537,...,383,3,157,0,0,0,0,0,0,20151223
57561,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,6501,86,1617,0,0,0,0,0,0,20151223
57562,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,336,8,85,0,0,0,0,0,0,20151223
57563,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,35702,767,9314,0,0,0,0,0,0,20151223

## 데이터 전처리

In [3]:
place_station = ['가양','개화','개화산','공항시장','김포공항','까치산','마곡','마곡나루','발산','방화','송정','신방화','양천향교',
                '염창','우장산','증미','화곡','등촌','신정','목동']

print(len(place_station))

20

## 강서구 지하철역만 뽑아내기

In [4]:
gangsu = station[(station['지하철역'] == place_station[0]) |(station['지하철역'] == place_station[1])|(station['지하철역'] == place_station[2])|
                        (station['지하철역'] == place_station[3])|(station['지하철역'] == place_station[4])|(station['지하철역'] == place_station[5])|
                        (station['지하철역'] == place_station[6])|(station['지하철역'] == place_station[7])|(station['지하철역'] == place_station[8])|
                        (station['지하철역'] == place_station[9])|(station['지하철역'] == place_station[10])|(station['지하철역'] == place_station[11])|
                        (station['지하철역'] == place_station[12])|(station['지하철역'] == place_station[13])|(station['지하철역'] == place_station[14])|
                        (station['지하철역'] == place_station[15])|(station['지하철역'] == place_station[16])|(station['지하철역'] == place_station[17])
                |(station['지하철역'] == place_station[18])|(station['지하철역'] == place_station[19])]

## 승하차 구별

In [5]:
gangsu_ride_on = gangsu.iloc[:, [0,1,2] + list(range(3,53,2))]

In [6]:
gangsu_ride_down = gangsu.iloc[:, [0,1,2] + list(range(4,52,2))]

## 승하차 시간대별 구별

In [7]:
gangsu_ride_on = gangsu_ride_on[(gangsu_ride_on['사용월'] == 202302)|(gangsu_ride_on['사용월'] == 202301)|(gangsu_ride_on['사용월'] == 202212)|
                               (gangsu_ride_on['사용월'] == 202211)|(gangsu_ride_on['사용월'] == 202210)|(gangsu_ride_on['사용월'] == 202209)|
                               (gangsu_ride_on['사용월'] == 202208)|(gangsu_ride_on['사용월'] == 202207)|(gangsu_ride_on['사용월'] == 202206)|
                               (gangsu_ride_on['사용월'] == 202207)|(gangsu_ride_on['사용월'] == 202206)|(gangsu_ride_on['사용월'] == 202205)|
                               (gangsu_ride_on['사용월'] == 202204)|(gangsu_ride_on['사용월'] == 202203)|(gangsu_ride_on['사용월'] == 202202)|
                               (gangsu_ride_on['사용월'] == 202201)|(gangsu_ride_on['사용월'] == 202112)|(gangsu_ride_on['사용월'] == 202111)|
                               (gangsu_ride_on['사용월'] == 202110)|(gangsu_ride_on['사용월'] == 202109)|(gangsu_ride_on['사용월'] == 202108)|
                               (gangsu_ride_on['사용월'] == 202107)|(gangsu_ride_on['사용월'] == 202106)|(gangsu_ride_on['사용월'] == 202105)|
                               (gangsu_ride_on['사용월'] == 202104)|(gangsu_ride_on['사용월'] == 202103)|(gangsu_ride_on['사용월'] == 202102)|
                               (gangsu_ride_on['사용월'] == 202101)|(gangsu_ride_on['사용월'] == 202012)|(gangsu_ride_on['사용월'] == 202011)|
                               (gangsu_ride_on['사용월'] == 202010)|(gangsu_ride_on['사용월'] == 202009)|(gangsu_ride_on['사용월'] == 202008)|
                               (gangsu_ride_on['사용월'] == 202007)|(gangsu_ride_on['사용월'] == 202006)|(gangsu_ride_on['사용월'] == 202005)|
                               (gangsu_ride_on['사용월'] == 202004)|(gangsu_ride_on['사용월'] == 202003)|(gangsu_ride_on['사용월'] == 202002)|
                               (gangsu_ride_on['사용월'] == 202001)]

gangsu_ride_down=gangsu_ride_down[(gangsu_ride_down['사용월'] == 202302)|(gangsu_ride_down['사용월'] == 202301)|(gangsu_ride_down['사용월'] == 202212)|
                               (gangsu_ride_down['사용월'] == 202211)|(gangsu_ride_down['사용월'] == 202210)|(gangsu_ride_down['사용월'] == 202209)|
                               (gangsu_ride_down['사용월'] == 202208)|(gangsu_ride_down['사용월'] == 202207)|(gangsu_ride_down['사용월'] == 202206)|
                               (gangsu_ride_down['사용월'] == 202207)|(gangsu_ride_down['사용월'] == 202206)|(gangsu_ride_down['사용월'] == 202205)|
                               (gangsu_ride_down['사용월'] == 202204)|(gangsu_ride_down['사용월'] == 202203)|(gangsu_ride_down['사용월'] == 202202)|
                               (gangsu_ride_down['사용월'] == 202201)|(gangsu_ride_down['사용월'] == 202112)|(gangsu_ride_down['사용월'] == 202111)|
                               (gangsu_ride_down['사용월'] == 202110)|(gangsu_ride_down['사용월'] == 202109)|(gangsu_ride_down['사용월'] == 202108)|
                               (gangsu_ride_down['사용월'] == 202107)|(gangsu_ride_down['사용월'] == 202106)|(gangsu_ride_down['사용월'] == 202105)|
                               (gangsu_ride_down['사용월'] == 202104)|(gangsu_ride_down['사용월'] == 202103)|(gangsu_ride_down['사용월'] == 202102)|
                               (gangsu_ride_down['사용월'] == 202101)|(gangsu_ride_down['사용월'] == 202012)|(gangsu_ride_down['사용월'] == 202011)|
                               (gangsu_ride_down['사용월'] == 202010)|(gangsu_ride_down['사용월'] == 202009)|(gangsu_ride_down['사용월'] == 202008)|
                               (gangsu_ride_down['사용월'] == 202007)|(gangsu_ride_down['사용월'] == 202006)|(gangsu_ride_down['사용월'] == 202005)|
                               (gangsu_ride_down['사용월'] == 202004)|(gangsu_ride_down['사용월'] == 202003)|(gangsu_ride_down['사용월'] == 202002)|
                               (gangsu_ride_down['사용월'] == 202001)]

In [8]:
gangsu_ride_on['o0~6']=gangsu_ride_on[['00시-01시 승차인원','01시-02시 승차인원','02시-03시 승차인원',
                '03시-04시 승차인원','04시-05시 승차인원', '05시-06시 승차인원']].sum(axis=1)
gangsu_ride_on['o6~12']=gangsu_ride_on[['06시-07시 승차인원', '07시-08시 승차인원', '08시-09시 승차인원',
                               '09시-10시 승차인원', '10시-11시 승차인원', '11시-12시 승차인원']].sum(axis=1)
gangsu_ride_on['o12~18']=gangsu_ride_on[['12시-13시 승차인원', '13시-14시 승차인원', '14시-15시 승차인원',
                                '15시-16시 승차인원', '16시-17시 승차인원', '17시-18시 승차인원']].sum(axis=1)
gangsu_ride_on['o18~24']=gangsu_ride_on[['18시-19시 승차인원', '19시-20시 승차인원', '20시-21시 승차인원', 
                                '21시-22시 승차인원', '22시-23시 승차인원', '23시-24시 승차인원']].sum(axis=1)

In [9]:
gangsu_ride_down['d0~6']=gangsu_ride_down[['00시-01시 하차인원','01시-02시 하차인원','02시-03시 하차인원',
                '03시-04시 하차인원','04시-05시 하차인원', '05시-06시 하차인원']].sum(axis=1)
gangsu_ride_down['d6~12']=gangsu_ride_down[['06시-07시 하차인원', '07시-08시 하차인원', '08시-09시 하차인원',
                               '09시-10시 하차인원', '10시-11시 하차인원', '11시-12시 하차인원']].sum(axis=1)
gangsu_ride_down['d12~18']=gangsu_ride_down[['12시-13시 하차인원', '13시-14시 하차인원', '14시-15시 하차인원',
                                '15시-16시 하차인원', '16시-17시 하차인원', '17시-18시 하차인원']].sum(axis=1)
gangsu_ride_down['d18~24']=gangsu_ride_down[['18시-19시 하차인원', '19시-20시 하차인원', '20시-21시 하차인원', 
                                '21시-22시 하차인원', '22시-23시 하차인원', '23시-24시 하차인원']].sum(axis=1)

In [10]:
gangsu_ride_on.drop(['00시-01시 승차인원','01시-02시 승차인원','02시-03시 승차인원','03시-04시 승차인원','04시-05시 승차인원',
                     '05시-06시 승차인원','06시-07시 승차인원', '07시-08시 승차인원', '08시-09시 승차인원','09시-10시 승차인원', 
                     '10시-11시 승차인원', '11시-12시 승차인원','12시-13시 승차인원', '13시-14시 승차인원', '14시-15시 승차인원',
                     '15시-16시 승차인원', '16시-17시 승차인원', '17시-18시 승차인원','18시-19시 승차인원', '19시-20시 승차인원', 
                     '20시-21시 승차인원', '21시-22시 승차인원', '22시-23시 승차인원', '23시-24시 승차인원'],axis=1,inplace=True)
gangsu_ride_down.drop(['00시-01시 하차인원','01시-02시 하차인원','02시-03시 하차인원','03시-04시 하차인원','04시-05시 하차인원',
                     '05시-06시 하차인원','06시-07시 하차인원', '07시-08시 하차인원', '08시-09시 하차인원','09시-10시 하차인원', 
                     '10시-11시 하차인원', '11시-12시 하차인원','12시-13시 하차인원', '13시-14시 하차인원', '14시-15시 하차인원',
                     '15시-16시 하차인원', '16시-17시 하차인원', '17시-18시 하차인원','18시-19시 하차인원', '19시-20시 하차인원', 
                     '20시-21시 하차인원', '21시-22시 하차인원', '22시-23시 하차인원', '23시-24시 하차인원'],axis=1,inplace=True)

In [11]:
gangsu_ride_down['dAll']= gangsu_ride_down[['d0~6','d6~12','d12~18','d18~24']].sum(axis=1)

In [12]:
gangsu_ride_on['oAll']=gangsu_ride_on[['o0~6','o6~12','o12~18','o18~24']].sum(axis=1)

In [13]:
gangsu_ride_on

          사용월       호선명  지하철역      작업일자   o0~6   o6~12  o12~18  o18~24    oAll
123    202302       5호선   개화산  20230303   4049   73256   48362   28162  153829
132    202302       5호선  김포공항  20230303    786   39571   94183   80805  215345
133    202302       5호선   까치산  20230303  23396  460592  201642   90745  776375
137    202302       5호선    마곡  20230303   2680   85430  104574   93104  285788
142    202302       5호선    목동  20230303   8356  219365  130138   84056  441915
...       ...       ...   ...       ...    ...     ...     ...     ...     ...
22762  202001       9호선  양천향교  20200203   4745  102037   82546   60429  249757
22764  202001       9호선    염창  20200203  10960  273631  133993   74725  493309
22765  202001       9호선    증미  20200203   2298   74366   64631   57122  198417
22932  202001  공항철도 1호선  김포공항  20200203   2206   77237  133304  125542  338289
22934  202001  공항철도 1호선  마곡나루  20200203   1573   35823   72015   73249  182660

[782 rows x 9 columns]

In [14]:
gangsu_ride_down=gangsu_ride_down.drop(['사용월','호선명','지하철역'],axis=1)

In [15]:
gangsu_ride1= pd.concat([gangsu_ride_on,gangsu_ride_down],axis=1)

In [16]:
gangsu_ride1

,사용월,호선명,지하철역,작업일자,o0~6,o6~12,o12~18,o18~24,oAll,d0~6,d6~12,d12~18,d18~24,dAll
123,202302,5호선,개화산,20230303,4049,73256,48362,28162,153829,2181,41494,44074,59487,147236
132,202302,5호선,김포공항,20230303,786,39571,94183,80805,215345,3025,79547,94992,33742,211306
133,202302,5호선,까치산,20230303,23396,460592,201642,90745,776375,10928,89420,238062,406412,744822
137,202302,5호선,마곡,20230303,2680,85430,104574,93104,285788,5227,127023,77710,78726,288686
142,202302,5호선,목동,20230303,8356,219365,130138,84056,441915,5692,90383,149573,227359,473007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22762,202001,9호선,양천향교,20200203,4745,102037,82546,60429,249757,4503,75872,68203,106462,255040
22764,202001,9호선,염창,20200203,10960,273631,133993,74725,493309,9138,67775,133762,262846,473521
22765,202001,9호선,증미,20200203,2298,74366,64631,57122,198417,2506,67638,60506,70621,201271
22932,202001,공항철도 1호선,김포공항,20200203,2206,77237,133304,125542,338289,3113,86170,71598,32254,193135
22934,202001,공항철도 1호선,마곡나루,20200203,1573,35823,72015,73249,182660,2908,97162,30149,35450,165669

In [17]:
gangsu_ride1=gangsu_ride1.drop(['o0~6','o6~12','o12~18','o18~24','d0~6','d6~12','d12~18','d18~24'],axis=1)
gangsu_ride1

          사용월       호선명  지하철역      작업일자    oAll    dAll
123    202302       5호선   개화산  20230303  153829  147236
132    202302       5호선  김포공항  20230303  215345  211306
133    202302       5호선   까치산  20230303  776375  744822
137    202302       5호선    마곡  20230303  285788  288686
142    202302       5호선    목동  20230303  441915  473007
...       ...       ...   ...       ...     ...     ...
22762  202001       9호선  양천향교  20200203  249757  255040
22764  202001       9호선    염창  20200203  493309  473521
22765  202001       9호선    증미  20200203  198417  201271
22932  202001  공항철도 1호선  김포공항  20200203  338289  193135
22934  202001  공항철도 1호선  마곡나루  20200203  182660  165669

[782 rows x 6 columns]

In [18]:
gangsu_ride12=gangsu_ride1.groupby(['지하철역'])['oAll','dAll'].sum()

In [19]:
366+365+365+31+28

1155

In [20]:
gangsu_ride12.mean()

oAll    1.247412e+07
dAll    1.215942e+07
dtype: float64

In [21]:
gangsu_ride12=gangsu_ride12/1155
gangsu_ride12.loc['신정',:]= gangsu_ride12.mean()

In [22]:
gangsu_ride12

              oAll          dAll
지하철역
가양    17338.512554  16845.517749
개화     2137.746320   1546.709091
개화산    4626.416450   4435.190476
공항시장   2514.658009   2727.708225
김포공항  23767.249351  22343.275325
까치산   24799.070130  23736.565368
등촌     9265.517749   9069.136797
마곡     7928.866667   7839.079654
마곡나루    766.785281    739.956710
목동    14140.400000  15199.959307
발산    16433.133333  17016.780087
방화     5733.699567   5480.341126
송정     5744.992208   5405.441558
신방화    5731.168831   5566.580087
양천향교   7800.039827   7941.695238
염창    14428.822511  13982.573160
우장산   12006.182684  11870.117749
증미     5908.950649   5825.581818
화곡    24129.831169  22452.958442
신정    10800.107542  10527.640419

In [23]:
gangsu_ride12.to_csv("지하철역_사람수나눔_승차하차정보.csv")